<!DOCTYPE html>
<html lang="en" class="h-100">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Pièce de monnaie en or commémorative de 50 Ariary - Précommander</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="{{ asset('img/BFM50LOGOFINAL-01.png') }}" rel="icon">
        <link href="{{ asset('img/BFM50LOGOFINAL-01.png') }}" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="{{ asset('css/front.css') }}" rel="stylesheet">

    </head>

    <body  class="d-flex flex-column h-100" style="background-color: #004776;">
        <div id="spinner" class="spinner bg-white d-none">
            <div class="m-auto">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Chargement...</span>
                </div>
            </div>
        </div>

        <main id="main changePassword" class="main p-5">
            
            <div class="container">

                <div class="row mb-5 ">
                    <div class="col-12 d-flex align-items-center justify-content-between mb-3">
                      
                        <div class="header-signup ">
                            <div class="myProfil-wrapper-logo">
                                <a href="{{ path('app_index') }}"><img src="{{ asset('img/Face.png') }}" alt="BFM" class="myProfil-logo"></a>
                            </div>
                        </div>
                        <div class="wrapper-title m-auto d-none d-md-block">
                            <div class="row my-auto">
                                <div class="col-12 text-gold  text-uppercase">
                                    <h3 class="title_signup">pièces de monnaie en or commémorative de 50 Ariary</h3>
                                </div>
                            </div>
                            <div class="row my-auto">
                                <div class="col-12 text-gold  text-uppercase">
                                    <h3 class="title_signup">banky foiben'i madagasikara</h3>
                                </div>
                            </div>
                        </div>
                        {% if passwordChanged %}
                            <div class="nav-item dropdown navMdp">
                                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                                    <i class="bi bi-person-circle me-3" ></i>
                                    {# <span class="d-none d-md-block dropdown-toggle ps-2" style="color:#004776;">{{ app.user.name }}</span> #}
                                </a><!-- End Profile Image Icon -->

                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile  py-3 ">
                                    
                                    <li class="dashboardMenu">
                                        <a class="dropdown-item d-flex align-items-center" href="{{ path( 'dashboard_index') }}">
                                            <i class="bi bi-box-arrow-right"></i>
                                            <span>Suivre ma commande</span>
                                        </a>
                                    </li>
                                    <li class="dashboardMenu">
                                        <a class="dropdown-item d-flex align-items-center" href="{{ path( 'update_user') }}">
                                            <i class="bi bi-box-arrow-right"></i>
                                            <span>Informations personnelles</span>
                                        </a>
                                    </li>
                                    <li class="dashboardMenu">
                                        <a class="dropdown-item d-flex align-items-center" href="{{ path( 'user_mdp') }}">
                                            <i class="bi bi-box-arrow-right"></i>
                                            <span>Modification du mot de passe</span>
                                        </a>
                                    </li>
                                </ul><!-- End Profile Dropdown Items -->
                            </div>
                            <a href="{{ path('app_logout', {'token': csrf_token('logout')}) }}"><i class="bi bi-power" style=" font-size: 40px;"></i></a>
                        {% endif %}
                    </div>
                    <div class="wrapper-title text-center d-block d-md-none title-min-width">
                        <div class="row mx-auto">
                            <div class="col-12 text-gold  text-uppercase">
                                <h3 class="title_signup m-0">pièces de monnaie en or commémorative de 50 Ariary</h3>
                            </div>
                        </div>
                        <div class="row my-auto">
                            <div class="col-12 text-gold  text-uppercase">
                                <h3 class="title_signup">banky foiben'i madagasikara</h3>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                <div class="row mt-3 d-flex justify-content-center">
                    <form id="changePasswordForm" name="user" method="post" enctype="multipart/form-data" action="{{ path('user_mdp') }}" class="d-flex flex-column align-items-center justify-content-center mdp-form">
                        <div>
                            <h5>Changement de mot de passe</h5>
                        </div>
                        <div class="col-sm-12 input-mdp">
                            <label for="user_reference" class="form-label">Réference dossier:</label>
                            <input type="text" maxlength="50" id="user_reference" class="form-control" value="{{ app.user.reference }}" readonly>
                        </div>
                        {% if passwordChanged %}
                            {# Afficher le champ du mot de passe actuel pour la première connexion #}
                            <div class="col-sm-12 input-mdp mt-3">
                                <label for="user_oldPassword" class="form-label">Mot de passe actuel :</label>
                                <div class="input-group">
                                    <input type="password" name="user[oldPassword]" maxlength="50" id="user_oldPassword" class="form-control customError" width="100%" required>
                                    <span class="input-group-text input-group-text-end show-pass"><i class="bi-eye-fill"></i></span>
                                    <span class="input-group-text input-group-text-end hide-pass d-none"><i class="bi-eye-slash-fill"></i></span>
                                </div>
                            </div>
                        {% else %}
                            {# Afficher le champ du mot de passe temporaire pour les connexions suivantes #}
                            <div class="col-sm-12 input-mdp mt-3">
                                <label for="user_temporairePasssword" class="form-label">Mot de passe temporaire :</label>
                                <div class="input-group">
                                    <input type="password" name="user[oldPassword]" maxlength="50" id="user_oldPassword" class="form-control customError" width="100%" required>
                                    <span class="input-group-text input-group-text-end show-pass"><i class="bi-eye-fill"></i></span>
                                    <span class="input-group-text input-group-text-end hide-pass d-none"><i class="bi-eye-slash-fill"></i></span>
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-sm-12 input-mdp mt-3">
                            <label for="user_newPassword" class="form-label">Nouveau mot de passe :</label>
                            <div class="input-group">
                                <input type="password" name="user[newPassword]" maxlength="50" id="user_newPassword" class="form-control customError" width="100%" required>
                                <span class="input-group-text input-group-text-end show-pass"><i class="bi-eye-fill"></i></span>
                                <span class="input-group-text input-group-text-end hide-pass d-none"><i class="bi-eye-slash-fill"></i></span>
                            </div>
                            <div id="password-requirements" class="text-danger" style="color: #cd8801 !important; font-weight: bold;display: none;">
                                Le mot de passe doit comporter au moins 10 caractères et inclure une combinaison de lettres, chiffres, majuscules, minuscules et symboles.
                            </div>
                        </div>
                        <div class="col-sm-12 input-mdp mt-3">
                            <label for="user_confirmNewPassword" class="form-label">Confirmation du mot de passe :</label>
                            <div class="input-group">
                                <input type="password" name="user[confirmNewPassword]" maxlength="50" id="user_confirmNewPassword" class="form-control customError" width="100%" required>
                                <span class="input-group-text input-group-text-end show-pass"><i class="bi-eye-fill"></i></span>
                                <span class="input-group-text input-group-text-end hide-pass d-none"><i class="bi-eye-slash-fill"></i></span>
                            </div>
                        </div>
                        <div class="row mt-5 mb-3">
                            <div class="col-12">
                                <button class="btn btn btn-preorder" type="submit">Valider</button>
                            </div>
                        </div>
                    </form>
                </div>
            
            </div>
        
            <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('node_modules/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
            <script src="{{ asset('js/jquery.validate.min.js') }}"></script>
            <script src="{{ asset('js/additional-methods.min.js') }}"></script>
            <script src="{{ asset('js/localization/messages_fr.min.js') }}"></script>
            <script src="{{ asset('js/alert.js') }}"></script>
            <script>
                {% for message in app.flashes('error') %}
                    modalAlert('{{ message }}', 'error');
                {% endfor %}

                document.getElementById("user_newPassword").addEventListener("input", function() {
                    var password = this.value;
                    var requirements = document.getElementById("password-requirements");
                    var valid = true;

                    if (password.length < 10) {
                        valid = false;
                    }
                    if (!/[a-z]/.test(password)) {
                        valid = false;
                    }
                    if (!/[A-Z]/.test(password)) {
                        valid = false;
                    }
                    if (!/\d/.test(password)) {
                        valid = false;
                    }
                    if (!/[\W_]/.test(password)) {
                        valid = false;
                    }

                    if (valid) {
                        requirements.style.display = "none";
                    } else {
                        requirements.style.display = "block";
                    }
                });

                $('#changePasswordForm').validate({
                    rules: {
                        "user[confirmNewPassword]": {
                            equalTo: "#user_newPassword"
                        },
                    },
                    messages: {
                        "user[confirmNewPassword]": {
                            equalTo: "Les mots de passe ne sont pas identiques"
                        }
                    },
                    errorPlacement: function (error, element) {
                        if (element.hasClass('customError')) {
                            error.appendTo(element.parents('div.input-mdp'));
                        } else {
                            element.after(error);
                        }
                    }
                });

                $('.show-pass').off('click').on('click', function () {
                    $(this).addClass('d-none');
                    $(this).parent('.input-group').find('.hide-pass').removeClass('d-none');
                    $(this).parent('.input-group').find("input").attr('type', 'text');
                });

                $('.hide-pass').off('click').on('click', function () {
                    $(this).addClass('d-none');
                    $(this).parent('.input-group').find('.show-pass').removeClass('d-none');
                    $(this).parent('.input-group').find("input").attr('type', 'password');
                });
            </script>
        </main>

        {{ include('front/_footer.html.twig') }}

    </body>

</html>

    