<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Pièce de monnaie en or commémorative de 50 Ariary</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
    </head>
    <body>
        <div class="body">
            <div style=" height: 100vh;margin-right: auto;margin-left: auto;width: 600px !important; padding-left: 0 !important;padding-right: 0 !important; padding-top: 3rem !important;">
                <div>
                    <p>{{ civility[user.civility] }} {{ user.name }} {{ user.firstname }},</p>
                    <p>Bonjour,</p>
                    <p>Votre inscription pour la commande d’une Pièce de monnaie en or commémorative de 50 Ariary a été enregistrée. Nous vous en remercions.</p>
                    <p>Pour accéder à la plateforme, veuillez utiliser :</p>
                    <div style="background-color: #5b9ad4;border-radius: 10px;border-color: #5b9ad4;color: #ffffff;font-weight: 600;padding:3rem;margin:5rem;text-align:start;">
                        <p style="margin-top: 0 !important;">Votre identifiant : {{ user.reference }}</p>
                        <p style="margin-bottom:0 !important;">Votre mot de passe temporaire : {{ user.plainPassword }}</p>
                    </div>
                    <p>Pour continuer votre inscription :</p>
                    <p>
                        <ul>
{#                            <li>veuillez cliquer <a href="http://192.168.1.199/login" style="color:#2e6bbc;">ici</a> <b>OU</b></li>#}
                            <li>veuillez cliquer <a href="https://pieces-monnaies-or-50.bfm.mg/login" style="color:#2e6bbc; ">ici</a> <b>OU</b></li>
                            <li>allez au menu "Suivre ma commande" sur le site d'inscription </li>
                        </ul>
                    </p>
                    <p>Il vous sera demandé de changer votre mot de passe temporaire pour des raisons de sécurité.</p>
                    <p>Cordialement,</p>
                    <img src="https://pieces-monnaies-or-50.bfm.mg/img/ban_mail.png" alt="BFM">
                </div>
            </div>
        </div>
    </body>
</html>